bin/amdgpu-arch
bin/clang-17
bin/clang-check
bin/clang-extdef-mapping
bin/clang-format
bin/clang-linker-wrapper
bin/clang-offload-bundler
bin/clang-offload-packager
bin/clang-refactor
bin/clang-rename
bin/clang-repl
bin/clang-scan-deps
bin/diagtool
bin/lld
bin/llvm-ar
bin/llvm-cov
bin/llvm-cxxfilt
bin/llvm-dwp
bin/llvm-ml
bin/llvm-nm
bin/llvm-objcopy
bin/llvm-objdump
bin/llvm-pdbutil
bin/llvm-profdata
bin/llvm-rc
bin/llvm-readobj
bin/llvm-size
bin/llvm-strings
bin/llvm-symbolizer
bin/nvptx-arch
lib/libclang.so.17.0.6
lib/libLTO.so.17
lib/libRemarks.so.17
