x86_64-unknown-linux-musl/sysroot/usr/lib/libutil.a
x86_64-unknown-linux-musl/sysroot/usr/lib/crt1.o
x86_64-unknown-linux-musl/sysroot/usr/lib/Scrt1.o
x86_64-unknown-linux-musl/sysroot/usr/lib/libdl.a
x86_64-unknown-linux-musl/sysroot/usr/lib/librt.a
x86_64-unknown-linux-musl/sysroot/usr/lib/libxnet.a
x86_64-unknown-linux-musl/sysroot/usr/lib/libm.a
x86_64-unknown-linux-musl/sysroot/usr/lib/libpthread.a
x86_64-unknown-linux-musl/sysroot/usr/lib/libresolv.a
x86_64-unknown-linux-musl/sysroot/usr/lib/libcrypt.a
x86_64-unknown-linux-musl/sysroot/usr/lib/crtn.o
x86_64-unknown-linux-musl/sysroot/usr/lib/libc.a
x86_64-unknown-linux-musl/sysroot/usr/lib/crti.o
x86_64-unknown-linux-musl/sysroot/usr/lib/libc.so
x86_64-unknown-linux-musl/sysroot/usr/lib/rcrt1.o
x86_64-unknown-linux-musl/sysroot/lib/libstdc++.so.6.0.34
x86_64-unknown-linux-musl/sysroot/lib/libatomic.so.1.2.0
x86_64-unknown-linux-musl/sysroot/lib/libatomic.a
x86_64-unknown-linux-musl/sysroot/lib/libitm.so.1.0.0
x86_64-unknown-linux-musl/sysroot/lib/libstdc++.a
x86_64-unknown-linux-musl/sysroot/lib/libstdc++exp.a
x86_64-unknown-linux-musl/sysroot/lib/libgcc_s.so.1
x86_64-unknown-linux-musl/sysroot/lib/libsupc++.a
x86_64-unknown-linux-musl/sysroot/lib/libstdc++fs.a
x86_64-unknown-linux-musl/sysroot/lib/libitm.a
lib/libLTO.so.17
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtprec32.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtbeginT.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtbeginS.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtprec80.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtfastmath.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtend.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/libgcc.a
lib/gcc/x86_64-unknown-linux-musl/15.2.0/libgcov.a
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtendS.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtprec64.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/crtbegin.o
lib/gcc/x86_64-unknown-linux-musl/15.2.0/libgcc_eh.a
lib/libclang.so.17.0.6
lib/libRemarks.so.17
